.fotoPerfil {
    display: flex;
    padding: 3rem;
    margin-left: 10%;
    max-width: 9rem;
    min-height: 9rem;
    border-radius: 10rem;
}

.quemSou h2 {
    font-size: 32px;
    margin: 0 auto 0 5%;
    color: #707070;
    font-weight: 700;

}

.subtitulo {
    font-style: normal;
    color: #707070;
    font-weight: 300;

}

.quemSou p {
    margin: 2% auto 0% 5%;
    max-width: 80%;
    font-style: normal;
    color: #BDBDBD;
}
