.BoxError {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.Titulo404 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #707070;
    letter-spacing: 0.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Subtitulo404 {
    color: #707070;
    font-weight: 300 ;
    margin-top: 1%;
}

.fotoTriste {
    padding-top: 5%;
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 225px;
}