.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .50rem;
}

.rodape {
    background-color: #BDBDBD;
    color: #707070;
    padding: .5rem 0;
}

.direitosReservados {
    display: flex;
    margin-bottom: 0.2rem;
    justify-content: center;
}