
.boxProjetos {
    border: 3px solid rgba(0, 0, 0, 0.08);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    margin: 2rem;
    padding: 0.5rem 1rem;
    background: #faf8f8;

}

.preTituloProjetos {
    margin-top: 0;
    font-weight: 700;
    color: #ff8c00;
}


.tituloProjetos {
    margin-bottom: 0;
    font-size: 40px;
}

.textoDescricao {
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.5;
        color: #707070;

}
